<!DOCTYPE html>
<html>
<head>
	<title>Conway's Game of Life in JS+Canvas</title>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="style.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app="conway">
<div ng-controller="mainCtrl">
  <div class="menu">
  </div>

  <div class="controls">
    <div class="control-container expand">
      <div ng-click="conway.run()" class="glyphicon glyphicon-play control">
        <span class="control-label">Play</span> 
      </div>
      
    </div>
    <div class="control-container expand">
      <div ng-click="conway.nextStep()" class="glyphicon glyphicon-step-forward control">
        <span class="control-label">Step</span>
      </div>
    </div>
    <div class="control-container expand">
      <div ng-click="conway.pause()" class="glyphicon glyphicon-pause control">
        <span class="control-label">Pause</span>        
      </div>
    </div>
    <div class="control-container expand">
      <div ng-click="conway.reset()" class="glyphicon glyphicon-off control">
        <span class="control-label">Reset</span>
      </div>
    </div>
    <div class="control-container expand">
      <div ng-click="conway.randomize()" class="glyphicon glyphicon-th control">
        <span class="control-label">Randomize</span>
      </div>
    </div>
    <div class="control-container expand">
      <div ng-click="conway.speedUp()" class="glyphicon glyphicon-fast-forward control">
        <span class="control-label">Speed Up</span>
      </div>
    </div>
    <div class="control-container expand">
      <div ng-click="conway.slowDown()" class="glyphicon glyphicon-fast-backward control">
        <span class="control-label">Slow Down</span>
      </div>
    </div>
    <!--
    <div class="control-container expand">
      <div ng-click="conway.changeCellSize()" class="glyphicon glyphicon-fast-backward control">
        <span class="control-label">Slow Down</span>
      </div>
    </div>
    -->
  </div>

  <div class="stats">
    <p>Generations: {{generations}} || Alive Cells: {{ aliveCells }} || Speed: {{ speed }}ms</p>
  </div>

  <div class="canvas-container">
    <canvas id="canvas"  width="1200" height="1200"></canvas>
  </div>

</div>
</body>
</html>