.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  background-color: #634B66;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 5px 1px #000000;
   -moz-box-shadow: 0px 0px 5px 1px #000000;
        box-shadow: 0px 0px 5px 1px #000000;
  z-index: 999;
}

.menu .title {
  font-family: 'Lato', sans-serif;
  font-size: 4em;
  margin-left: 0.5em;
  margin-top: 0.5em;
  width: 60%;
  float: left;
  color: #32282B;
}

.controls {
  width: 120px;
  position: fixed;
  overflow: visible;
  z-index: 1000;
}

.controls .control-container {
  width: 70px;
  height: 55px;
  background-color: #634B66;
  clear: both;
}

.controls .control-container:hover {
  background-color: #4F0147;
}

.controls .control {
  color: #18020C;
  font-size: 2em;
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.controls .control:hover {
  color: #fff;
}

.controls .control-label {
  font-size: 10px;
  clear: both;
  display: inline;
  margin-left: -20px;
  padding-bottom: 20px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  overflow: visible;
}

body {
  background-color: #F7FFFF;
}

.stats {
  margin-top: 20px;
  margin-left: 100px;
}

.canvas-container {
  width: 1000px;
  margin-top: 2px;
  margin-right: auto;
  margin-left: 100px;
  text-align: center;
  display: block;
}

#canvas {
  display: inline;
  background-color: #F7FFFF;
}

.expand {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
    
  -webkit-transition-property: -webkit-transform;  
  -moz-transition-property: -moz-transform;  
  -o-transition-property: -o-transform;  
  transition-property: width;
  overflow: hidden;
}  
 
.expand:hover {
  color: #fff !important;
  width: 120px;
}